@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap')

$common-font: 'Source Sans Pro', sans-serif
$mono-font:   'Inconsolata', monospace

$common-background: transparent
$common-padding: 1em

$body-width: 100%
$body-max-width: 60em
$body-font-size: 100%
$code-font-size: $body-font-size
$toc-font-size: 80%

$body-border-radius: 0.5em
$img-border-radius: $body-border-radius * 2
$toc-border-radius: $body-border-radius

$navbar-link-width: 6em

$heading-size-1: 1.50em
$heading-size-2: 1.23em
$heading-size-3: 1.05em
$heading-size-4: 0.83em
$heading-size-5: 0.67em
$heading-size-6: 0.51em
