$common-font: 'DejaVu Sans Mono', monospace
$mono-font:   'DejaVu Sans Mono', monospace

$common-background: transparent
$common-padding: 1em

$heading-size-1: 1.50em
$heading-size-2: 1.23em
$heading-size-3: 1.05em
$heading-size-4: 0.83em
$heading-size-5: 0.67em
$heading-size-6: 0.51em
