@import '_fonts'
@import '_settings'
@import '_colorscheme'
@import '_abstract'

html
  background: $bg-site

body
  width: $body-width
  max-width: $body-max-width
  margin: 0 auto

  line-height: 1.5em
  font-family: $common-font
  font-size: $body-font-size

  color: $fg-normal

  @media screen and (min-width: $body-max-width)
    margin: 2em auto !important

h1, h2, h3, h4, h5, h6
  margin: 1.1em 0 .83em

h1, h2, h3
  color: $fg-header
h4, h5, h6
  color: $fg-header-alt

h1 { font-size: $heading-size-1 }
h2 { font-size: $heading-size-2 }
h3 { font-size: $heading-size-3 }
h4 { font-size: $heading-size-4 }
h5 { font-size: $heading-size-5 }
h6 { font-size: $heading-size-6 }

a
  text-decoration: initial
  color: $fg-anchor

a:hover
  text-decoration: underline

em
  color: $term-11
  font-style: normal

strong
  color: $term-09

nav#site-nav
  @extend %basic-page-navigation
  border-radius: 1em 1em 0 0
  background: $bg-navbar
  color: $fg-navbar

  a.push-right
    margin-left: auto

  a.current
    color: $fg-navbar-current

label#toc-toggle
  display: flex
  width: 100%
  margin-top: 1em
  height: 3em
  align-items: center
  justify-content: center

input#toc-toggle-box
  display: none

input#toc-toggle-box ~ nav#TableOfContents
  display: none

input#toc-toggle-box:checked ~ nav#TableOfContents
  display: block

nav#TableOfContents
  margin: 0.5em 0 0 0
  box-sizing: border-box
  background: $term-00
  padding: $common-padding
  border-radius: $toc-border-radius
  overflow: hidden
  font-weight: bold

  color: $fg-anchor

  ul
    margin: 0
    padding: 0
    list-style-type: none

    li
      overflow: hidden
      white-space: nowrap
      text-overflow: ' ...'

    li + li
      margin-top: 1em

    ul
      padding-left: 1em
      margin-top: 1em

  @media screen and (min-width: $body-max-width)
    float: right
    margin: 1em 0 1em 1em
    max-width: 40%
    font-size: $toc-font-size

    ul
      li + li
        margin-top: initial
      ul
        margin-top: initial

label#toc-toggle
  @media screen and (min-width: $body-max-width)
    display: none

input#toc-toggle-box ~ nav#TableOfContents
  @media screen and (min-width: $body-max-width)
    display: initial

footer#page-footer
  @extend %basic-page-extremity
  background: $bg-footer
  color: $fg-footer

  display: grid
  grid-auto-flow: column
  grid-template-columns: minmax(0, 1fr)

  a
    color: $term-11

  span.commit-subject
    color: $fg-anchor
    margin-left: 0.5em

  p#commit
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  p#timestamp, p#commit
    margin: 0
  p#timestamp
    text-align: right

article
  background: $bg-normal
  padding: 0.1em 1.5em 0.8em 1.5em

  @media screen and (min-width: $body-max-width)
    border-radius: $body-border-radius

  header
    font-weight: bold

    section.header-line
      display: flex
      justify-content: space-between
      align-items: center

      h1
        color: $fg-header
        margin-bottom: 0.25em

      aside#translations
        margin: 1.1em 0 0.25em

        ul#translations
          list-style: none
          padding: 0
          margin: 0

          display: flex
          justify-content: space-around

          font-size: 115%

          li:not(:first-child)
            margin-left: 1em

    section.subheader-line
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap

      p.subtitle
        color: $fg-header-sub
        margin: 0

        em
          color: inherit
          font-style: italic

      ul#article-tags
        list-style-type: none
        padding-left: 0
        margin: 0
        font-size: 85%

        li
          display: inline-block

          &:nth-child(n + 2)
            margin-left: 1em

          a
            color: $term-11

  blockquote
    color: $fg-blockquote
    padding-left: 1em
    border: 0 solid $fg-border
    border-left-width: 0.5em

  table
    width: 100%

    th
      color: $fg-table-head
    td
      color: $fg-table-data

    td.date
      width: 1%
      white-space: nowrap
      padding: 0 0.5em 0 0

  table.compare-table
    border-collapse: collapse

    th, td
      padding: 0.5em 1em
      box-sizing: border-box

    th:first-child, td:first-child
      padding-left: 0
    th:last-child, td:last-child
      padding-right: 0

    th, td:nth-child(n+2)
      text-align: center

    td
      border-top: 0.1em solid $fg-border

    th:nth-child(n+2)
      min-width: 4em

  li::marker
    color: $fg-list-bullet

  figure
    margin: 1.25em 0
    text-align: center

    img
      min-height: 5em
      max-height: 15em
      width: 100%
      object-fit: cover
      border-radius: $img-border-radius

    figcaption p
        margin-top: 0

  code
    font-family: $mono-font
    font-size: $code-font-size

  pre
    background: $bg-codeblock
    border-radius: 0.5em
    padding: 0.5em 1em
    overflow-x: auto
    line-height: initial

  & > hr
    color: $fg-border
    opacity: 0.5
    margin: 2em 0

  p code, li code
    background: $bg-codeblock
    padding: 0 0.3em
    border-radius: 0.25em

  & > p a, & > ul li a, & > ol li a
    text-decoration: underline

  &.extra-pages h2 ~ p
    margin-left: 2em

  section.dialog
    display: flex
    padding: 1em
    align-content: center
    border-radius: $toc-border-radius
    border: 0.2em solid $fg-border
    margin: 0.5em 0 0 0
    box-sizing: border-box
    max-width: 100%

    p:first-child
      margin-top: 0
    p:last-child
      margin-bottom: 0

    .dialog-icon
      margin-right: 1em

    &.dialog-info
      border-color: $bg-dialog-info
    &.dialog-warning
      border-color: $bg-dialog-warning
    &.dialog-error
      border-color: $bg-dialog-error
    &.dialog-success
      border-color: $bg-dialog-success

    &.dialog-info, &.dialog-success
      strong, em
        color: inherit
      em
        font-style: italic

    @media screen and (min-width: $body-max-width)
      margin: 1em 0 0 0
