<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "metadata/page-meta.html" . }}
    {{ partial "metadata/page-title.html" . }}
    {{ partial "metadata/preload-fonts.html" . }}
    {{ partial "metadata/extensions.html" . }}
    {{ partial "style/critical.html" . }}
    {{ partial "style/extra.html" . }}
    {{ block "extra-head" . }}{{ end }}
  </head>
  <body>
    {{ block "navigation" . }}
    {{ partial "elements/site-navbar.html" . }}
    {{ end }}

    {{ block "content" . }}
    <p>This page is still under construction!</p>
    {{ end }}

    {{ block "footer" . }}
    {{ partial "elements/site-footer.html" . }}
    {{ end }}
  </body>
  {{ partial "script/extensions.html" . }}
</html>
