{{ define "content" }}
<main role="main">
  <article id="content">
    {{ partial "elements/article-header.html" . }}
    {{ .Content }}

    <table id="blog-index" cellspacing="0">
      {{ range .Pages }}
        {{- $mainTag := index .Params.tags 0 }}
      <tr>
        <td class="date">{{ .Date.Format "2006-01-02" }}</td>
        <td class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td class="tag">
          <a href="{{ relLangURL "/tags/" }}{{ urlize $mainTag }}">{{ $mainTag }}</a>
        </td>
      </tr>
      {{ end }}
    </table>
  </article>
</main>
{{ end }}
