{{ define "content" }}
<main role="main">
  <article id="content">
    {{ partial "elements/article-header.html" . }}
    {{ .Content }}

    <p id="search-box-container">
      <form id="search-form">
        <input
          type="text" id="search-box"
          placeholder="{{ .Site.Params.strings.titleSearchPlaceholder }}"
        />
      </form>
    </p>

    <noscript>
      <style type="text/css">
        input#search-box, p#search-box-container {
          display: none;
        }
      </style>
    </noscript>

    <table id="blog-index" cellspacing="0">
      {{ range .Pages }}
        {{- $mainTag := index .Params.tags 0 }}
      <tr>
        <td class="date">{{ .Date.Format "2006-01-02" }}</td>
        <td class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td class="tag">
          <a href="{{ relLangURL "/tags/" }}{{ urlize $mainTag }}">{{ $mainTag }}</a>
        </td>
      </tr>
      {{ end }}
    </table>

    {{-
      $script := resources.Get "script/fzf-search.js" | js.Build (dict "params" (dict
        "inputSelector"      "input#search-box"
        "resultsSelector"    "table#blog-index tbody"
        "identifierSelector" "td.title"
      )) | resources.Minify
    }}
    <script src="{{ $script.RelPermalink }}"></script>
  </article>
</main>
{{ end }}
