{{ define "extra-head" }}
{{ $options := (dict "outputStyle" "compressed") }}
{{ $file := "style/terms.sass" }}
<style type="text/css">
{{ $css := resources.Get $file | toCSS $options }}
{{ $css.Content | safeCSS }}
</style>
{{ end }}

{{ define "content" }}
<main role="main">
  <article id="content">
    {{ partial "elements/article-header.html" . }}
    {{ .Content }}

    {{- $termPages := slice }}
    {{- range .Pages }}
      {{- $termPages = $termPages | append (dict "Page" . "Count" (len .Pages)) }}
    {{- end }}

    <ul class="terms-by-count">
      {{ range sort $termPages "Count" "desc" }}
      <li>
        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Count }})</a>
      </li>
      {{ end }}
    </ul>
  </article>
</main>
{{ end }}
