<header>
  <section class="header-line">
    <h1>{{ default .Title .Params.articleTitle }}</h1>

    {{ if .IsTranslated }}
    <aside id="translations">
      <ul id="translations">
      {{ range .Translations }}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Site.Params.langName }}">
            <span role="img" aria-label="{{ .Site.Params.strings.flagAriaLabel }}">
              {{ .Site.Params.flag }}
            </span>
          </a>
        </li>
      {{ end }}
      </ul>
    </aside>
    {{ end }}
  </section>

  <section class="subheader-line">
    {{ with .Params.subtitle }}
    <p class="subtitle">{{ markdownify . }}</p>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="article-tags">
      {{- range . }}
      <li><a href="{{ relLangURL "/tags/" }}{{ urlize . }}">{{ . }}</a></li>
      {{- end }}
    </ul>
    {{ end }}
  </section>
</header>
