{{ $listOfPages := slice .Site.Home | append .Site.Home.Pages }}
{{ $currentPermalink := .Permalink }}
<nav id="site-nav">
  {{- $_leftPages  := where $listOfPages "Params.navigation.right" false }}
  {{- $_rightPages := where $listOfPages "Params.navigation.right" true  }}
  {{- $leftPages   := sort $_leftPages  ".Params.navigation.index" "asc" }}
  {{- $rightPages  := sort $_rightPages ".Params.navigation.index" "asc" }}

  {{- range $leftPages }}
    {{- partial "elements/navbar-url.html"
      (dict
        "CurrentPermalink" $currentPermalink
        "Page" .
      )
    -}}
  {{- end }}

  {{- range first 1 $rightPages }}
    {{- partial "elements/navbar-url.html"
      (dict
        "CurrentPermalink" $currentPermalink
        "Classes" "push-right"
        "Page" .
      )
    -}}
  {{- end }}

  {{- range after 1 $rightPages }}
    {{- partial "elements/navbar-url.html"
      (dict
        "CurrentPermalink" $currentPermalink
        "Page" .
      )
    -}}
  {{- end }}
</nav>
