{{ define "content" }}
<main role="main">
  <article id="content">
    {{ partial "elements/article-header.html" . }}
    {{ .Content }}

    <ul id="notebooks">
      {{- range .Pages.ByPublishDate.Reverse }}
        {{- if eq .Parent.RelPermalink "/extra/notes/" }}
      <li class="notebook">{{ .Title }}
        {{- else }}
      <li class="notebook"><a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end }}
        <ul class="notes">
        {{- range .Pages.ByPublishDate }}
          <li class="note"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end }}
        </ul>
      </li>
      {{- end }}
    </ul>
  </article>
</main>
{{ end }}
