name: GitHub Pages CI

on: pull_request

jobs:
  changes:
    name: Changes Filter
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      pages: ${{ steps.filter.outputs.pages }}

    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            pages:
              - 'content/**'
              - 'layouts/**'
              - 'themes/**'

  build:
    name: Hugo Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files in the repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: latest
          extended: true

      - name: Install Node.js dependencies
        run: npm ci

      - name: Generate Git data
        run: ./scripts/generate-git-data.sh

      - name: Generate static pages
        run: hugo --minify
        env:
          HUGO_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: rendered-static-pages
          path: public

  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    needs: [build, changes]
    if: ${{ needs.changes.outputs.pages == 'true' }}
    steps:
      - name: Checkout files in the repository
        uses: actions/checkout@v5

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Download rendered files
        uses: actions/download-artifact@v6
        with:
          name: rendered-static-pages
          path: public

      - name: Run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.13.x
          lhci autorun
